[Unit]
Description=FieldCam Flask App
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=__REPO_DIR__/fieldcam_app
ExecStart=__REPO_DIR__/fieldcam_app/.venv/bin/python __REPO_DIR__/fieldcam_app/app.py
Restart=always
RestartSec=3
Environment=FLASK_ENV=production
TimeoutStopSec=10
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
