API_BASE=__API_BASE__

SYSTEM_ID=__SYSTEM_ID__
DEVICE_ID=__DEVICE_ID__

ENABLE_WITTYPI=__ENABLE_WITTYPI__
ALWAYS_OFF_CHECKIN_SEC=900

BOOT_SETTLE_SEC=10
STARTUP_BUFFER_SEC=40
SHUTDOWN_DELAY_SEC=5
BOOT_TO_CAPTURE_BUDGET_SEC=50
SNAP_INTERVAL_SEC=300

ENABLE_REMOTE_CYCLE_LOGS=true
REMOTE_CYCLE_LOG_MAX_LINES=400

SYSTEM_CONFIG_CACHE_PATH=/var/lib/nereus/system_config_cache.json
LOCAL_IMAGE_DIR=/var/lib/nereus/images
UNSENT_MANIFEST_PATH=/var/lib/nereus/images/unsent_manifest.jsonl
